@import "../fonts/material-icons.css";

body {
  font-family: 'Roboto', sans-serif;
}

body.messenger {
  margin: 0;
  padding: 0;
}

body.admin-menu {
  .sidebar-container {
    top: 30px;
  }
}

#messenger,
#messenger-inbox {
  * {
    box-sizing: border-box;
  }
  input {
    outline: 0 none;
    &:hover, &:active, &:focus {
      outline: 0;
    }
  }
  button {
    outline: 0 none;
    &:hover, &:active, &:focus {
      outline: 0;
    }
  }
}

.region-messanger-container {
  position: relative;
  z-index: 100000;
}

.messenger-popover {
  z-index: 10000;
}

.md-icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  &.md-16 {
    font-size: 18px;
  }
  &.md-18 {
    font-size: 18px;
  }
  &.md-24 {
    font-size: 24px;
  }
  &.md-36 {
    font-size: 36px;
  }
  &.md-48 {
    font-size: 48px;
  }
}